---
import { useSanityClient } from 'astro-sanity';

export async function getStaticPaths() {
  const posts = await useSanityClient().fetch(`*[_type == "articles"]`);

  return posts.map(({ slug, title }) => {
    return {
      params: { slug: slug.current },
      props: { title },
    };
  });
}

const { slug  } = Astro.params;
const { title } = Astro.props;

---

<h1>{title}</h1>