---
import { useSanityClient } from 'astro-sanity';

export async function getStaticPaths() {
  const articles = await useSanityClient().fetch(`*[_type == "articles"]`);

  return articles.map(({ slug, title }) => {
    return {
      params: { slug: slug },
      props: { title },
    };
  });
}

const { slug  } = Astro.params;
const { title } = Astro.props;

---

<h1>{title}</h1>