---
import 'swiper/css';
const { images,  } = Astro.props;

---

<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        {images.map((image: { src: string | null | undefined; alt: string | null | undefined; }) => (
                        <div class="swiper-slide">
                            <img src={image.src} alt={image.alt} style="width: 100%; height: auto;" />
                          </div>
            ))}
            <div class="swiper-pagination"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  import Swiper from 'swiper';
  
  var swiper = new Swiper(".mySwiper", {
    pagination: {
        el: ".swiper-pagination",
      },
    });
</script>